.container-grid {
    display: grid;
    grid-template-columns: 4, 1fr;
    grid-auto-rows: minmax(100px, auto);
    max-width: 960px;
    margin: 0 auto;
    grid-template-areas: 
    "header header header header"
    "box1 box2 box3 sidebar"
    "box1 box2 box3 sidebar"
    "box1 box2 box3 sidebar"
    "maincontent maincontent maincontent sidebar"
    "footer footer footer footer";
    grid-gap: 15px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    

}


.container-grid > div {
     background-color: rgb(71, 108, 187);
     padding: 10px;
}




.header-column {
    grid-area: header;
    height: 80%;
    margin-bottom: 50px;
       
}


.box1 {
    
    grid-area: box1;

}


.box2 {
    grid-area: box2;

}
.box3 {

    grid-area: box3;

}

.sidebar-column {
    grid-area: sidebar;

}

.maincontent-column {
    grid-area: maincontent;

}

.footer-column {
    grid-area: footer;
    
}